@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
  
}

body {
  overflow-x: hidden;
}

.hero {

  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
  width: 99vw;
  height: 105vh;
  position: absolute;
  

}


.titleCard {
  position: relative;
  left: 34vw;
  top: 34vh;
}

.title {
  width: 535px;
  height: 115px;
  font-size: 120px;
  font-family: Inter;
  font-weight: 900;
  color: white;
}

.titleDescription{
  font-size: 26px;
  font-family: inter;
  font-weight: 600;
  color: white;

  position: relative;
  top: 5vh;
}

.tryit{
  width: 150px;
  height: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: 18px;
  font-weight: 500;
  font-family: inter;
  position: relative;
  top: 8vh;
}

.tryit:hover{
  scale: 1.05;
  transition: smooth 2ms;
}

.tryit img{
  width: 16px;
}


.topLeft img {
  position: relative;
  bottom: 40vh;
  scale: 1.3;
  left: 0vw;
}
.topLeft{
  width: 100px;
  height: 400px;
}

.redBowl img {
  position: relative;
  bottom: 20vh;
  scale: 1;
  left: 1vw;
}
.redBowl{
  width: 100px;
}



.whiteRightDown img {
  width: 30vw;
  position: relative;
  left: 69vw;
  scale: 1.1;
  bottom: 32vw;
}

.whiteRightDown{
  width: 100px;
}

.autoRotate {
  animation: autoRotate;
  animation-timeline: view();
}

@keyframes autoRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}



.secondPageHead{
  position: relative;
  bottom: 90vh;
}




.typing-text {
  animation: typing;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; /* Optional: adds a cursor effect */
  width: fit-content;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



/* {authorisation  css} */

.Threeleft{
  position: relative;
  right: 30vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.moodContainer{
  display: flex;
  gap: 5vw;
  position: relative;
  justify-content: center;
  top: 20vh;
 
 

}


.HappySelection{
  
height: 400px;
width: 250px;
background-color: #CCCCCC;
border-radius: 20px;
}

.StressedSelection{
  height: 400px;
width: 250px;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 20px;
backdrop-filter: blur(20px);
}

.RelaxedSelection{
  height: 400px;
width: 250px;
background-color: #CCCCCC;
border-radius: 20px;
}

.EnergeticSelection{
  height: 400px;
width: 250px;
background-color: #CCCCCC;
border-radius: 20px;
}
